body,
html {
  height: 100%;
  width: 100%;
  font-size: 16px;
  position: relative;
}
.body-form-article {
  
    width: 500px;
    border: 1px solid #ffd900;
    border-radius: 4px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 120px;
    transform: translate(-50%, -50%);
    background-color: white;
  }
  @media (max-width: 400px) {
    .form-createArticle {
      width: 90%;
    }
  }


@media (max-width: 400px) {
  .form {
    width: 90%;
  }
}

.container-image {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}