
.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 2rem;
  margin-left: 1.5rem;
  font-size: 2rem;
  line-height: inherit;
  white-space: nowrap;
  color: whitesmoke;
}

.nav-link {
  color: whitesmoke;
  margin: 0 10px;
}

.color-smoke {
  color: whitesmoke;
}

  @media (min-width: 768px) {
    .contenedor-redes 
    {
     text-align: center ;
    }
  
}

@media (max-width: 768px) {
  .contenedor-redes 
  {
   text-align: end ;
  }

}

