.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.navbar {
  background-color: rgb(255, 217, 0);
  display: flex;
  justify-content: space-between;
}

Nav.Link {
  text-decoration: none;
}