nav {

}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 2rem;
  margin-left: 1.5rem;
  font-size: 2rem;
  line-height: inherit;
  white-space: nowrap;
}

.nav-link {
  color: whitesmoke;
}
