.body-signIn {
  height: 100%;
  width: 100%;
  font-size: 16px;
  position: relative;
  display: flex;
  justify-content: center;
}

.login {
  width: 500px;
  border: 2px solid black;
  border-radius: 4px;
  padding: 15px;
  position: absolute;
 margin-top: 100px;
}
@media (max-width: 400px) {
  .login {
    width: 90%;
  }
}

.boton-sandy:hover {
  background-color: #17a2b8;
  border-color: #17a2b8;
}