
ul {
    display: flex;
    flex-direction: column;
}


.card {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px;
  margin: 20px;
  width: 350px;
  box-shadow: 0 .1rem 1rem rgba(0,0,0,.15)!important;
  border: 1 solid #ffd900 !important;
  
  
}

ul li {
  list-style: none;
  display: flex;
  justify-content: center;
}