ul {
  display: flex;
  flex-direction: column;
}

.card {
  background-color: white;
  display: flex;
  padding: 30px;
  margin: 20px;
  width: 400px;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.15) !important;
  border: 1 solid #ffd900 !important;
  max-height: 600px;
}

.container-content {
  height: 100%;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

ul li {
  list-style: none;
  display: flex;
  justify-content: center;
}
