.body-singUp {
  height: 100%;
  width: 100%;
  font-size: 16px;
  position: relative;
  background-color: #f8f9fa;
}
.form {
  width: 500px;
  border: 1px solid #ffd900;
  border-radius: 4px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 150px;
  transform: translate(-50%, -50%);
  background-color: white;
}
@media (max-width: 400px) {
  .form {
    width: 90%;
  }
}
